<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        <h2>ATENÇÃO: este token não é o mesmo token gerado anteriormente, a cada nova requisição um novo token e gerado! </h2>
        {% for item in data %}
        <h3>  url de requisição</h3>
        <li>{{item.url}}</li>
        <h3>  dados enviados</h3>
        <li>{{item.data}}</li>
        <h3>  resposta</h3>
        <li>{{item.response}}</li>
        {% endfor %}
    </ul>

</body>
</html>