<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>TECNOMOTOR</h1>

        <a href="/token_request"><button>Token Request</button></a>
        <a href=https://sts-dev.fiat.com/adfs/oauth2/authorize?response_type=code&response_mode=form_post&resource=test.authdiag.fcagcv.com_TECNOMOTOR&client_id=3a12bfe0-83f6-4ab6-abb5-3aa78fbb9eea&redirect_uri=fca-app://test.authdiag.fcagcv.com ><button>Authorization Request</button></a>

    </div>
</body>
</html>